@using WebForm.Common
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="" />
    <title>FinArt</title>
    <link rel="shortcut icon" href="images/favicon.ico">

    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/Validate.js" type="text/javascript"></script>
    <script src="/js/sweetalert.min.js"></script>

    <!-- Favicons -->
    @* <link href="~/assets/img/favicon.png" rel="icon"> *@
    <link href="~/assets/img/logo.jpg" rel="icon">


    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">


    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="/js/axios.min.js"></script>
    <link href="~/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="~/assets/css/device.min.css" rel="stylesheet" />


</head>





<body class="index-page">
    <style>
        .div-search {
            background: rgba(255, 255, 255, 0.2); /* Màu nền trong suốt */
            backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
            -webkit-backdrop-filter: blur(10px); /* Hỗ trợ Safari */
            border-radius: 10px;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .search-box {
            background: rgba(255, 255, 255, 0.1);
            padding: 30px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        .form-control::placeholder {
            color: #ddd;
        }

        .advice-box {
            border-left: 4px solid #0d6efd;
            display: inline-block;
        }

        .custom-search-group {
            min-width: 500px; /* Tăng lên 400px, 500px nếu bạn muốn dài hơn nữa */
        }

        @@media (max-width: 576px) {
            .custom-search-group {
                min-width: 100%; /* Full width trên điện thoại */
            }
        }

        .custom-advice-btn:hover {
            border-color: #67b0d1 !important;
            background: #67b0d1 !important;
            color: #fff !important;
        }

        .custom-advice-btn {
            border-color: #67b0d1 !important;
            background: #67b0d1 !important;
            color: #fff !important;
        }



        .navmenu .search-form {
            width: 200px;
        }

            .navmenu .search-form input.form-control {
                border-radius: 50px;
                padding-right: 40px;
                border: 1px solid #ccc;
                transition: all 0.3s ease;
                height: 38px;
            }

                .navmenu .search-form input.form-control:focus {
                    border-color: #267d36;
                    box-shadow: 0 0 0 0.15rem rgba(38, 125, 54, 0.25);
                    outline: none;
                }

            .navmenu .search-form span {
                pointer-events: none;
                font-size: 13px;
                color: #267d36;
            }

        /* Responsive spacing on smaller screens */
        @@media (max-width: 992px) {
            .navmenu .search-form {
                display: none !important;
            }
        }
    </style>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between px-0">

            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                @* <h1 class="sitename" style="color: forestgreen">FinArt</h1> *@
                <img src="~/assets/img/logo.jpg" />
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/" class="active">Trang chủ</a></li>

                    <li class="dropdown">
                        <a href="#"><span>Danh mục tư vấn</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">Danh mục trung hạn</a></li>
                            <li><a href="#">Danh mục ngắn hạn</a></li>
                            <li><a href="#">Danh mục chờ mua</a></li>
                        </ul>
                    </li>

                    <li><a href="/danh-muc-tu-van">Chỉ số FinArt</a></li>

                    <li class="dropdown">
                        <a href="#"><span>Báo cáo phân tích</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="/danh-sach-bao-cao-art/6">Báo cáo FinArt</a></li>
                            <li><a href="/danh-sach-bao-cao-art/7">Báo cáo CTCK</a></li>
                            <li><a href="/danh-sach-bao-cao-art/8">Báo cáo ngành</a></li>
                        </ul>
                    </li>

                    <li><a href="/danh-sach-tin/5">Tin tức chứng khoán</a></li>
                    <li>
                        @*  <form class="search-form position-relative me-3 d-none d-lg-block" style="margin: 0">
                            <input class="form-control" type="search" placeholder="Search..." style="height: 30px;">
                            <span class="position-absolute top-50 end-0 translate-middle-y pe-3 text-success">

                            </span>
                        </form> *@

                        <span class="iconsearch" onclick="toggleSearch()" style="cursor: pointer;">
                            <i class="fa fa-search text-success"></i> <!-- hoặc thay bằng SVG nếu bạn dùng icon khác -->
                        </span>

                        <!-- FORM tìm kiếm -->
                        <form id="searchForm" class="search-form position-relative me-3 d-none d-lg-block" style="margin: 0; display: none !important;">
                            <input class="form-control" type="text" placeholder="Search..." style="height: 30px; font-size: 13px">
                            <span class="position-absolute top-50 end-0 translate-middle-y pe-3 text-success" style="cursor: pointer;">
                                <i class="fa fa-search text-success" style="cursor: pointer"></i>
                            </span>
                        </form>
                    </li>

                    <span class="dang-nhap">
                        <a href="/admin/dang-nhap" style="padding: 0;font-weight: 300;">Đăng nhập</a>
                    </span>
                    <span class="dang-ky">
                        <a href="/admin/dang-nhap">Đăng ký</a>
                    </span>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>

    <main class="main">

        <!-- Hero Section -->
        @RenderBody()

        <!-- Testimonials Section -->
        <!-- Team Section -->
        <!-- Pricing Section -->
        <!-- Faq Section -->
        <!-- Contact Section -->

    </main>



    <footer style="margin-top: 60px;">
        <div class="container">
            <div class="row0">
                <div class="col-12 col-sm-5">
                    <div class="footer-logo">
                        <a href="/">
                            @* <img src="	https://timetradingfx.com/storage/config/182e624b1a6d178.png" alt="logo-TimeTrading"> *@
                            <img src="~/assets/img/logo.jpg" />
                        </a>
                        <p>
                        <p>85 Vũ Trọng Phung, Thanh Xuân , Hà Nội</p>
                        <p>Phone <span>098 904 8431</span></p>
                        <p>Email <span>finart.advisory@gmail.com</span></p>
                        </p>
                    </div>
                </div><div class="col-12 col-sm-2"></div>
                <div class="col-12 col-sm-2">
                    <h5>Useful Links</h5><ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li><a href="javascript:;">About Us</a></li>
                        <li><a href="javascript:;">Product</a></li>
                        <li><a href="javascript:;">Service</a></li>
                        <li><a href="javascript:;">FAQ</a></li>
                        <li><a href="javascript:;">Contact Us</a></li>
                    </ul>
                </div><div class="col-12 col-sm-3">
                    <h5>Social Connect</h5><ul class="fanpages">
                        <li>
                            <a target="_blank" rel="nofollow" href="javascrript:;">

                                <img src="~/assets/img/facebook.png" />
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="javascript:;">
                                <img src="~/assets/img/youtube.png" />
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="javascript;;">
                                <img src="~/assets/img/telegram.png" />
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="nofollow" href="javascript:;">
                                <img src="~/assets/img/instagram.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><hr><div class="container">
            <div class="row0">
                <div class="col-12 col-sm-6"><p class="copyright">© 2025 <b>FinArt</b>. All rights reserved.</p></div>

            </div>
        </div>
    </footer>




    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>


    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>




    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>


    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/messageHub")
            .build();

        connection.on("ReceiveMessage", function (message) {
            console.log("📩 Client received:", message);
            // alert("Received message: " + message);
        });

        connection.start().catch(function (err) {
            console.error("SignalR connection error:", err.toString());
        });
    </script> *@




    <div class="zalo-chat-widget"
         data-oaid="@ConfigInfo.Zalocontact"
         data-welcome-message="Xin chào! Bạn cần hỗ trợ gì không?"
         data-autopopup="0"
         data-width=""
         data-height="">
    </div>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>

    <script>
             // Lấy đường dẫn hiện tại
        const currentPath = window.location.pathname;

        // Duyệt qua tất cả các thẻ <a> trong #navmenu
        document.querySelectorAll('#navmenu a').forEach(link => {
            const linkPath = link.getAttribute('href');

            // So sánh đường dẫn (có thể so sánh tương đối hoặc dùng startsWith nếu cần)
            if (linkPath === currentPath || currentPath.startsWith(linkPath + '/')) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });
    </script>

    <script>
        function toggleSearch() {
          const form = document.getElementById("searchForm");

          if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
            form.querySelector("input").focus();
          } else {
            form.style.display = "none";
          }
         $(".iconsearch").css("display", "none");
        }
    </script>
</body>
</html>