@using WebForm.Common
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">



    @*     <meta property="og:title" content="FinArt – Nền tảng phân tích tài chính, chứng khoán và dữ liệu đầu tư chuyên sâu">
    <meta property="og:description" content="FinArt – Nền tảng phân tích tài chính, chứng khoán và dữ liệu đầu tư chuyên sâu, cập nhật nhanh, chính xác và hỗ trợ ra quyết định thông minh cho Nhà đầu tư.">
    <meta property="og:url" content="https://finart.vn/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://finart.vn/assets/img/logo.jpg"> <!-- nếu có ảnh đại diện -->
 *@



    @* Render meta động nếu có @section Head *@
    @RenderSection("Head", required: false)

    @* Nếu KHÔNG có @section Head thì dùng meta mặc định *@
    @if (!IsSectionDefined("Head"))
    {
        <meta name="description" content="FinArt – Nền tảng phân tích tài chính, chứng khoán và dữ liệu đầu tư chuyên sâu" />
        <meta property="og:title" content="FinArt – Nền tảng phân tích tài chính, chứng khoán và dữ liệu đầu tư chuyên sâu">
        <meta property="og:description" content="FinArt – Nền tảng phân tích tài chính, chứng khoán và dữ liệu đầu tư chuyên sâu, cập nhật nhanh, chính xác và hỗ trợ ra quyết định thông minh cho Nhà đầu tư.">
        <meta property="og:url" content="https://finart.vn/">
        <meta property="og:type" content="website">
                <meta property="og:image" content="https://finart.vn/assets/img/logo fine art-05.png">
    }



    <title>FinArt</title>
    <link rel="shortcut icon" href="https://finart.vn/assets/img/logo fine art-05.png" type="image/png" sizes="16x16" >

    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/Validate.js" type="text/javascript"></script>
    <script src="/js/sweetalert.min.js"></script>

    <!-- Favicons -->
    @* <link href="~/assets/img/favicon.png" rel="icon"> *@
    <link href="~/assets/img/logo fine art-05.png" rel="icon" type="image/png" sizes="16x16" >


    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    @*     <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin> *@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    @* <link href="~/assets/css/main.css" rel="stylesheet"> *@

    <script src="/js/axios.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link href="~/assets/css/vendor.min.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />

    <link href="~/assets/css/layout.min.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />
    <link href="~/assets/css/device.min.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />

    <link href="~/assets/css/main.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />


    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> *@
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <script src="~/assets/vendor/aos/aos.js"></script>

</head>






<body class="index-page">
    <style>
        .div-search {
            background: rgba(255, 255, 255, 0.2); /* Màu nền trong suốt */
            backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
            -webkit-backdrop-filter: blur(10px); /* Hỗ trợ Safari */
            border-radius: 10px;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .search-box {
            background: rgba(255, 255, 255, 0.1);
            padding: 30px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        .form-control::placeholder {
            color: #ddd;
        }

        .advice-box {
            border-left: 4px solid #0d6efd;
            display: inline-block;
        }

        .custom-search-group {
            min-width: 500px; /* Tăng lên 400px, 500px nếu bạn muốn dài hơn nữa */
        }

        @@media (max-width: 576px) {
            .custom-search-group {
                min-width: 100%; /* Full width trên điện thoại */
            }
        }

        .custom-advice-btn:hover {
            border-color: #67b0d1 !important;
            background: #67b0d1 !important;
            color: #fff !important;
        }

        .custom-advice-btn {
            border-color: #67b0d1 !important;
            background: #67b0d1 !important;
            color: #fff !important;
        }



        .navmenu .search-form {
            width: 185px;
            padding-left: 15px;
        }

            .navmenu .search-form input.form-control {
                border-radius: 50px;
                padding-right: 40px;
                border: 1px solid #ccc;
                transition: all 0.3s ease;
                height: 38px;
            }

                .navmenu .search-form input.form-control:focus {
                    border-color: #267d36;
                    box-shadow: 0 0 0 0.15rem rgba(38, 125, 54, 0.25);
                    outline: none;
                }

            .navmenu .search-form span {
                pointer-events: none;
                font-size: 13px;
                color: #267d36;
            }

        /* Responsive spacing on smaller screens */
        @@media (max-width: 992px) {
            .navmenu .search-form {
                display: none !important;
            }
        }


        .hidden {
            display: none !important;
        }

        .visible {
            display: block !important;
        }


        .spanicon_an {
            cursor: pointer;
            right: 0px;
            top: 15px;
            /*    position: absolute; */
            padding: 0 !important;
            z-index: 1;
        }

        .spanicon_hien {
            cursor: pointer;
            left: 164px;
            top: 9px;
            position: absolute;
            padding: 0 !important;
            z-index: 1;
        }

        /* Ẩn dropdown ban đầu */
        .nav-item .dropdown-menu {
            display: block; /* vẫn cần để giữ không bị ẩn cứng */
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all 0.5s ease;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
        }

        /* Khi hover, hiện dropdown */
        .nav-item.dropdown:hover .dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        /*  .navbar-expand-lg .navbar-nav .dropdown-menu {
                    position: absolute;
                    left: inherit;
                    top: 100%;
                    width: 250px;
                    margin-top: 5px;
                    z-index: 100;
                    background: #fff;
                    padding: 10px 0px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    border: 1px solid #fff;
                    border-top: 5px solid #26c48c !important;
                    transition: all 500ms ease;
                    -moz-transition: all 500ms ease;
                    -webkit-transition: all 500ms ease;
                    -ms-transition: all 500ms ease;
                    -o-transition: all 500ms ease;
                    left: 50% !important;
                    transform: translateX(-50%) !important;

                }

                .dropdown-submenu {
                    position: relative;
                }

                    .dropdown-submenu > .dropdown-menu {
                        top: 0;
                        left: 100%;
                        margin-top: -1px;
                        display: none;
                        position: absolute;
                    }

                    .dropdown-submenu:hover > .dropdown-menu {
                        display: block;
                    }
         */



        /* Menu cấp 1 - căn giữa */
        .navbar-nav > .dropdown > .dropdown-menu {
            position: absolute;
            left: 50% !important;
            transform: translateX(-50%) !important;
            top: 100%;
            width: 250px;
            margin-top: 5px;
            background: #fff;
            border-top: 5px solid var(--cyan);
            border-radius: 8px;
            z-index: 100;
        }

        /* Menu cấp 2 trở đi - căn phải */
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                position: absolute;
                top: 0;
                left: 100% !important;
                transform: none !important;
                display: none;
                width: 250px;
                background: #fff;
                z-index: 200;
                border-top: 5px solid var(--cyan);
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }



        .dropdown-item.active, .dropdown-item:active {
            color: red;
            text-decoration: none;
            background-color: #fff !important;
        }

        .dropdown-item:focus, .dropdown-item:hover {
            background-color: #fff !important;
        }


        .navbar-brand img {
            width: 125px;
        }

        .sticky .navbar-brand img {
            width: 110px;
        }



        #searchInput:focus {
            color: #212529 !important;
            background-color: #fff !important;
            border-color: #12cec2 !important;
            outline: 0 !important;
            box-shadow: none !important;
        }

        html {
            scroll-behavior: smooth;
        }













        /* Tùy chọn: ngăn menu cấp 2 đóng khi rê vào menu cấp 3 */
        .dropdown-menu > .dropdown-submenu > a:after {
            content: " ▶";
            float: right;
        }

        .item3 {
            left: 240px !important;
            top: 0px !important;
        }

        /*   .menu3 .dropdown-toggle::after {
                    display: none !important;
                } */

        .menu3 .dropdown-toggle1::after {
            font-family: "Font Awesome 5 Free" !important; /* hoặc "Font Awesome 6 Free" nếu bạn dùng v6 */
            content: "\f105" !important; /* Mũi tên phải (angle-right) */
            font-weight: 900 !important;
            margin-left: 0.5rem !important;
            display: inline-block !important;
            vertical-align: middle !important;
        }



        #f_search {
            position: absolute;
        }

    </style>



    <div class="container-fluid padding0">
        <header id="header" class="animate a_01">
            <span class="screen-darken"></span>
            <a class="logo-mobile" href="/">
              
                <img src="~/assets/img/logo fine art-05.png" />
            </a><div class="float-end onlyMobile">
                <button id="btn-menu" data-trigger="navbar_main" class="d-lg-none" type="button">
                    <span></span><span></span><span></span>
                </button>
            </div>
            <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg" style="">
                <div class="container container_full">
                    <div class="offcanvas-header">
                        <a class="logo-brand" href="/">
                            @* <img src="~/assets/img/logo.png" /> *@
                              <img src="~/assets/img/logo fine art-05.png" />  

                        </a> <button class="btn-close float-end">✕</button>
                    </div><a class="navbar-brand" href="/">
                        <img src="~/assets/img/logo fine art-05.png" />
                        @* <img src="~/assets/img/logo fine art-03.png" />  *@
                       
                    </a>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class="nav-link " href="/">Trang chủ</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Danh mục tư vấn
                            </a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/danh-sach-khuyen-nghi">Danh mục khuyến nghị</a></li>
                                <li><a class="dropdown-item" href="/co-phieu-tang-truong">Danh mục đầu tư dài hạn</a></li>
                                <li><a class="dropdown-item" href="/co-phieu-da-chot">Lịch sử khuyến nghị</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Nhận định FinArt
                            </a>
                            <ul class="dropdown-menu">


                                <li><a class="dropdown-item" href="/xu-huong-thi-truong">Xu hướng thị trường</a></li>
                                <li><a class="dropdown-item" href="/xu-huong-nganh">Xu hướng ngành</a></li>
                                <li><a class="dropdown-item" href="/co-phieu-dan-dat">Cổ phiếu dẫn dắt</a></li>

                            </ul>
                        </li>
                        @*  <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Báo cáo phân tích
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/danh-sach-bao-cao-finart">Báo cáo FinArt</a>
                                </li>
                                <li><a class="dropdown-item" href="/danh-sach-bao-cao-ctck">Báo cáo CTCK</a></li>
                                <li><a class="dropdown-item" href="/danh-sach-bao-cao-nganh">Báo cáo ngành</a></li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Báo cáo ngành</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/bao-cao-nganh-cong-nghe">Ngành Công Nghệ</a></li>
                                        <li><a class="dropdown-item" href="/bao-cao-nganh-ngan-hang">Ngành Ngân Hàng</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li> *@



                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Báo cáo phân tích
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/danh-sach-bao-cao-vimo">Báo cáo Vĩ mô</a></li>


                                <li class="dropdown-submenu menu3">
                                    <a class="dropdown-item dropdown-toggle1" href="#">Báo cáo FinArt </a>
                                    <ul class="dropdown-menu item3">
                                        <li><a class="dropdown-item" href="/danh-sach-bao-cao-nganh/1">Báo cáo ngành</a></li>
                                        <li><a class="dropdown-item" href="/danh-sach-bao-cao-doanh-nghiep">Báo cáo DN khuyến nghị</a></li>
                                    </ul>
                                </li>

                                <li><a class="dropdown-item" href="/danh-sach-bao-cao-ctck">Báo cáo CTCK</a></li>
                            </ul>
                        </li>


                        <li class="nav-item "><a class="nav-link " href="/danh-sach-tin-tuc-chung-khoan">Tin nổi bật</a></li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Giới thiệu
                            </a>
                            <ul class="dropdown-menu">


                                <li><a class="dropdown-item" href="/ve-chung-toi">Về chúng tôi</a></li>
                                <li><a class="dropdown-item" href="/lien-he">Liên hệ</a></li>

                            </ul>
                        </li>

                        @* <li style="position: relative; min-width: 20px; height: 44px;">


                            <span class="iconsearch spanicon_an" onclick="toggleSearch()" style="cursor: pointer;">
                                <i class="fa fa-search text-success" id="iconseach_change"></i>
                            </span>


                            <form id="searchForm" class="search-form position-relative me-3 d-none d-lg-block hidden" style="margin: 0 !important;">
                                <input id="searchInput" class="form-control searchtext" type="text" placeholder="Search..." style="height: 30px; font-size: 13px; margin-top: 8px;    border-radius: 15px;">

                            </form>
                        </li>

                        <span class="dang-nhap" style="margin-top: 13px;">
                            <a href="/admin/dang-nhap" style="padding: 0;font-weight: 300;">Đăng nhập</a>
                        </span>
                        <span class="dang-ky" style="margin-top: 13px;">
                            <a href="/admin/dang-nhap">Đăng ký</a>
                        </span> *@


                    </ul>


                </div>

                <div id="f_search">
                    <div class="d-flex align-items-center gap-0 flex-wrap pe-3" style="position: relative">

                        <span class="iconsearch spanicon_an" onclick="toggleSearch()" style="cursor: pointer;">
                            <i class="fa fa-search text-success" id="iconseach_change"></i>
                        </span>


                        <form id="searchForm" class="search-form position-relative me-3 d-none d-lg-block hidden" style="margin: 0 !important;">
                            <input id="searchInput" class="form-control searchtext" type="text" placeholder="Search..." style="height: 30px; font-size: 13px;    border-radius: 15px;">

                        </form>


                     


                        <span class="dang-nhap" style="">
                            <a href="/admin/dang-nhap" style="padding: 0;font-weight: 300;">Đăng nhập</a>
                        </span>
                        <span class="dang-ky" style="">
                            <a href="/admin/dang-nhap">Đăng ký</a>
                        </span>
                    </div>
                </div>

            </nav>
        </header>


        <main>

            <!-- Hero Section -->
            @RenderBody()

            <!-- Testimonials Section -->
            <!-- Team Section -->
            <!-- Pricing Section -->
            <!-- Faq Section -->
            <!-- Contact Section -->

        </main>



        <footer style="margin-top: 60px;    border-top: 1px solid #e9e9e9; padding-top: 40px;">
            <div class="container">
                <div class="row0">
                    <div class="col-12 col-sm-5">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="~/assets/img/logo fine art-05.png" />
                            </a>
                            <p>
                            <p>41 Ngô Quyền, Hoàn Kiếm, Hà Nội</p>
                            <p>Phone: <span>

                                    0989.048.431 (Ms. Mai) - 0936.366.321 (Ms. Ngọc)

                            </span></p>
                            <p>Email: <span>finart.advisory@gmail.com</span></p>
                            </p>
                        </div>
                    </div><div class="col-12 col-sm-1"></div>
                    <div class="col-12 col-sm-3">
                        <h5>Liên kết</h5><ul>
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li><a href="/danh-sach-khuyen-nghi">Danh mục tư vấn</a></li>
                            <li><a href="/xu-huong-thi-truong">Nhận định FinArt</a></li>

                            <li><a href="/danh-sach-bao-cao-vimo">Báo cáo phân tích</a></li>
                            <li><a href="/danh-sach-tin-tuc-chung-khoan">Tin nổi bật</a></li>

                        </ul>
                    </div><div class="col-12 col-sm-3">
                        <h5>Mạng xã hội</h5><ul class="fanpages">
                            <li>
                                <a target="_blank" rel="nofollow" href="javascrript:;">

                                    <img src="~/assets/img/facebook.png" />
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="nofollow" href="javascript:;">
                                    <img src="~/assets/img/youtube.png" />
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="nofollow" href="javascript;;">
                                    <img src="~/assets/img/telegram.png" />
                                </a>
                            </li>
                            <li>
                                <a target="_blank" rel="nofollow" href="javascript:;">
                                    <img src="~/assets/img/instagram.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><hr><div class="container">
                <div class="row0">
                    <div class="col-12 col-sm-6"><p class="copyright">© 2025 <b>FinArt</b>. All rights reserved.</p></div>

                </div>
            </div>
        </footer>


        <button onclick="topFunction()" id="clickToTop" fdprocessedid="90iu49">
            <img src="~/assets/img/back-to-top.png" alt="Back to Top">
        </button>


    </div>

    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/script.js"></script>






    <!-- Main JS File -->
    @* <script src="~/assets/js/main.js"></script> *@


    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/messageHub")
            .build();

        connection.on("ReceiveMessage", function (message) {
            console.log("📩 Client received:", message);
            // alert("Received message: " + message);
        });

        connection.start().catch(function (err) {
            console.error("SignalR connection error:", err.toString());
        });
    </script> *@




    @* <div class="zalo-chat-widget"
         data-oaid="@ConfigInfo.Zalocontact"
         data-welcome-message="Xin chào! Bạn cần hỗ trợ gì không?"
         data-autopopup="0"
         data-width=""
         data-height="">
    </div>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script> *@

    <script>
             // Lấy đường dẫn hiện tại
        const currentPath = window.location.pathname;

        // Duyệt qua tất cả các thẻ <a> trong #navmenu
        document.querySelectorAll('#navmenu a').forEach(link => {
            const linkPath = link.getAttribute('href');

            // So sánh đường dẫn (có thể so sánh tương đối hoặc dùng startsWith nếu cần)
            if (linkPath === currentPath || currentPath.startsWith(linkPath + '/')) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });
    </script>

    <script>
        function toggleSearch() {

            $("#searchForm").toggleClass("hidden").focus();
            if ($("#searchForm").hasClass("hidden")) {
                //

               $(".iconsearch").addClass('spanicon_an');
               $(".iconsearch").removeClass('spanicon_hien');

               $("#iconseach_change").addClass('fa-search');
               $("#iconseach_change").removeClass('fa-times');
            } else {
               //
                $(".searchtext").focus();
               $(".iconsearch").removeClass('spanicon_an');
               $(".iconsearch").addClass('spanicon_hien');

               $("#iconseach_change").removeClass('fa-search');
               $("#iconseach_change").addClass('fa-times');
            }
        }
    </script>

    <script>
        $(document).ready(function () {
          $('#searchInput').on('keypress', function (e) {
            if (e.which === 13) { // 13 là mã phím Enter
              let value = $(this).val().trim().toUpperCase();

              if (value) {
                    let url = '/chi-tiet-co-phieu/' + encodeURIComponent(value);
                    window.open(url, '_blank'); // Mở trong tab mới
              }
            }
          });
        });


    </script>

    <script>
        function toggleSearch1() {
          const searchBox = document.getElementById('search-box');
          searchBox.classList.toggle('hidden');
        }
    </script>



    @* 


    <script>
        AOS.init();
    </script>
 *@




</body>







</html>