<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">FinArt</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tin tức">
                <a class="nav-link" href="/News/List">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Tin tức</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tin tức">
                <a class="nav-link" href="/Symbol/List">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Danh mục Cổ phiếu</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dang-xuat">
                    <i class="fa fa-fw fa-sign-out"></i> Đăng xuất
                </a>
            </li>
        </ul>
    </div>
</nav>