@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    var news = DataMemory.c_lstNew.Where(x =>  x.CategoryType == "9").FirstOrDefault();

}

<!-- Page Title -->
<div class="page-title accent-background">
    <div class="container position-relative">
        <h1>Về chúng tôi</h1>

    </div>
</div><!-- End Page Title -->
<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                @if (news != null)
                {
                    <div id="noidung">
                        <h3 class="titleDetail">@(news.Title ?? "")</h3>

                        <div id="des_detail">
                            @(news.Description ?? "")
                        </div>
                        <div>@Html.Raw(news.Content ?? "")</div>

                    </div>
                }
                


             
            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                @Html.Partial("NewsOtherTab", "9")
            </div>





        </div>

    </div>

</section><!-- /Service Details Section -->
