@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    var news = DataMemory.c_lstNew.Where(x =>  x.CategoryType == "9").FirstOrDefault();

}

<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">Về chúng tôi</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Về chúng tôi</li>
        </ol>
    </div>
</div>
<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-12">

                @if (news != null)
                {
                    <div id="noidung">
                        <h3 class="titleDetail">@(news.Title ?? "")</h3>

                        <div id="des_detail">
                            @(news.Description ?? "")
                        </div>
                        <div>@Html.Raw(news.Content ?? "")</div>

                    </div>
                }
                


             
            </div>

          


        </div>

    </div>

</section><!-- /Service Details Section -->
