@model WebForm.Models.ListColorWarehouse

@{
    ViewBag.Title = "Kho dữ liệu phối màu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/css/default.css" rel="stylesheet" />
<link href="/css/component.css" rel="stylesheet" />
<script src="/js/modernizr.custom.js"></script>

<h2 class="color-main text-center" style="margin-bottom: 45px; margin-top: 100px;">
    <span>
        Kho dữ liệu phối màu
    </span>
</h2>

<div class="container">
    <div id="cbp-fwslider" class="cbp-fwslider">
        <ul>
            @foreach (var item in Model.Collection)
            {
                <li><a href="#"><img src="@item.Avatar" alt="img01" /></a></li>
            }
        </ul>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
<script src="/js/jquery.cbpFWSlider.min.js"></script>

<script>
    $(function () {
        $('#cbp-fwslider').cbpFWSlider();

    });
</script>
