@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;

@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        table-layout: fixed;
    }

    col {
        width: 10%;
    }

    th, td {
        border: 1px solid #999;
        padding: 6px 8px;
        vertical-align: middle;
        word-wrap: break-word;
    }

    .headerth {
        background-color: #258749 !important;
    }

    .sub-header {
        background-color: #6cd392;
    }

    .zebra:nth-child(even) {
        background-color: #f9f9f9;
    }

    .zebra:nth-child(odd) {
        background-color: #ffffff;
    }

    tr th {
        font-family: Lexenddeca_light
    }

    .section-header {
        background-color: #b7f1cb;
        color: #16315e;
        font-family: Lexenddeca_B;
    }

    .column-header {
        background-color: #d58a35;
        font-family: Lexenddeca_light;
        color: #f9f9f9;
    }

    td {
        font-size: 15px;
    }

    #app td {
        color: #221e1e !important;
        font-size: 15px;
    }
</style>

<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01" style="">Danh mục đầu tư dài hạn</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Danh mục đầu tư dài hạn</li>
        </ol>
    </div>
</div>

<section id="service-details" class="service-details section">
    <div id="trading">
        <div class="container">

            <div class="row gy-4">


                <div class="col-12">

                    <div id="app">
                        <div class="table-responsive shadow-sm">
                            <table class=" table-bordered text-center align-middle cptd  table-striped table-hover">

                                <thead class="text-white">

                                    <tr>
                                        <th colspan="9" class="section-header" style="padding:12px;">DANH MỤC ĐẦU TƯ DÀI HẠN</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" class="text-center align-middle  headerth" style="color:#fff">Mã</th>
                                        <th rowspan="2" class="text-center align-middle  headerth" style="color:#fff">Giá hiện tại <p>(1,000đ)</p></th>
                                        <th rowspan="2" class="text-center align-middle headerth" style="color:#fff">Vùng mua <p>(1,000đ)</p></th>
                                        <th rowspan="2" class="text-center align-middle headerth" style="color:#fff">Giá mục tiêu <p>(1,000đ)</p></th>
                                        <th rowspan="2" class="text-center align-middle  headerth" style="color:#fff">Giá dừng lỗ <p>(1,000đ)</p></th>
                                        <th colspan="3" class="text-center align-middle  headerth" style="color:#fff">Thông số cơ bản</th>
                                        <th rowspan="2" class="text-center align-middle  headerth" style="color:#fff">Khuyến nghị</p></th>
                                    </tr>
                                    <tr>

                                        <th class="text-center align-middle headerth" style="color:#fff">P/E (lần)</th>
                                        <th class="text-center align-middle headerth" style="color:#fff">T.trưởng doanh thu</th>

                                        <th class="text-center align-middle  headerth" style="color:#fff">T.trưởng lợi nhuận</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr v-for="(item, index) in stocks" :key="index">
                                        <td><a :href="`/chi-tiet-co-phieu/${item.Symbol}`" class="text-decoration-none fw-semibold" style="color: #16315e !important; font-family: LexendDeca_B;">{{ item.Symbol }}</a></td>
                                        <td class="text-end">{{ item.Current_Price_Text }} </td>
                                        <td class="">{{ item.PRICE_Exp_Text }} </td>
                                        <td class="text-end">{{ item.PRICE_Taget_Text }} </td>
                                        <td class="text-end">{{ item.T_Pause }} </td>

                                        <td class="text-end">{{ item.PE }}</td>
                                        <td class="text-end">{{ item.DoanhThu }} </td>
                                        <td class="text-end">{{ item.LoiNhuan }} </td>
                                        <td class="">{{ item.Note }}</td>
                                    </tr>



                                </tbody>
                            </table>






                        </div>
                    </div>








                </div>

                @*   <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                @Html.Partial("NewsOtherTab", "1")
            </div> *@

            </div>

        </div>
    </div>
</section>
<script src="~/assets/js/vue.global.js"></script>

<script>
    const { createApp, ref, onMounted, computed } = Vue

    createApp({
      setup() {
        const stocks = ref([])

        // Tạo mảng luôn đủ 5 dòng
        const paddedStocks = computed(() => {
          const filled = [...stocks.value]
          while (filled.length < 10) {
            filled.push(null) // hoặc {} nếu muốn tránh undefined
          }
          return filled.slice(0, 10)
        })


          const paddedFilteredStocks = computed(() => {
              const filtered = stocks.value.filter(item => item?.IsSpecial === 'Y')
              const filled = [...filtered]
              while (filled.length < 10) {
                filled.push(null)
              }
              return filled.slice(0, 10)
            })


        // Xử lý class màu theo Heso_Text
        function getClass(hesoText) {
          const value = parseFloat(hesoText)
          if (isNaN(value)) return ''
          return value > 0 ? 'positive' : value < 0 ? 'negative' : 'yellow'
        }

        // Gọi API để lấy stocks
        function sendPost() {
          axios.get('/Home/GetStocks')
            .then(function (response) {
              console.log('Gửi thành công:', response.data)
              stocks.value = response.data
            })
            .catch(function (error) {
              console.error('Lỗi khi gọi API:', error)
            })
        }

        onMounted(() => {
          sendPost()
          setInterval(sendPost, 5000) // gọi lại mỗi 5 giây
        })

        return {
          stocks,
          paddedStocks,
          getClass,
          paddedFilteredStocks
        }
      }
    }).mount('#app')
</script>