@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    List<News> list = new List<News>();
    if (ViewBag.List != null)
    {
        list = ViewBag.List;
    }

}
@if (list != null && list.Count > 0)
{
    @foreach (var item in list)
    {
        <div class="analysis-item">
            <div class="analysis-meta">
                <span class="badge badge-update">CẬP NHẬT</span>
                <span class="date">@item.CreateDate</span>
            </div>
            <div class="analysis-title">@item.Title</div>
            <div class="analysis-source">Nguồn: VCBS</div>
        </div>


    }
}
else
{

}
@if (list != null && list.Count > 0)
{
    <div style="padding: 10px 20px;"> @Html.Raw(ViewBag.Paging) </div>
}