@using WebForm.Common
@using WebForm.Helpers
@model WebForm.Models.IndexPortal

@{
    var lstNews = Model.LstNews;
    var lstProject = Model.LstProject;

    List<News> list = DataMemory.c_lstNew.Where(x => x.CategoryType == "1").OrderByDescending(i => i.Id).Take(5).ToList();
}
<style>
    .hero-section {
        position: relative;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .hero-bg .carousel-inner {
            height: 100%;
        }

        .hero-bg .carousel-item {
            height: 100%;
            background-size: cover;
            background-position: center;
        }

    .hero-content {
        position: relative;
        z-index: 2;
        height: calc(100% + 50px);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        pointer-events: none;
    }

        .hero-content h1 {
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
        }

        .hero-content p {
            max-width: 600px;
            margin-top: 15px;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        }

    .search-box {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        pointer-events: auto;
    }

        .search-box input {
            padding: 8px 12px;
            border: none;
            border-radius: 5px 0 0 5px;
            width: 250px;
        }

        .search-box button {
            padding: 8px 15px;
            border: none;
            background-color: #267d36;
            color: white;
            border-radius: 0 5px 5px 0;
        }

    .tag-buttons {
        margin: 30px auto;
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        z-index: 3;
    }

    #highlight article {
        padding: 30px;
        border: 2px solid #fff;
        margin: 20px 0;
        border-radius: 15px;
        position: relative;
        background: #ffffff2e;
    }

        #highlight article h2 img {
            width: 26px;
        }

    #highlight .text_a img {
        width: 18px;
        height: 18px;
    }

    .frame-base img {
        float: right;
        width: 160px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .only-img {
        float: left !important;
        width: 200px !important;
        background: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
    }

    #highlight ul li {
        list-style-type: none;
        position: relative;
        padding: 7px 0 7px 0px;
        font-size: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    #highlight article h2 {
        font-size: 48px;
        line-height: 1.1;
        letter-spacing: -1px;
        color: var(--cyan);
    }

    .a_01 {
        animation-delay: 0.1s;
    }

    .animate {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
    }
</style>



<section id="hero" class="hero section accent-background">


    <div class="hero-section">
        <div id="heroCarousel" class="carousel slide hero-bg carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('/assets/img/bg_01.jpg');"></div>
                @*       <div class="carousel-item" style="background-image: url('/assets/img/bg_02.jpg');"></div>
                <div class="carousel-item" style="background-image: url('/assets/img/bg_03.jpg');"></div> *@
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Overlay Content -->
        <div class="hero-content" id="highlight">

            <div class="container text-center" data-aos="fade-up" data-aos-delay="100">



                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6  d-flex justify-content-center align-items-center">
                            <img style="width: 230px;
    height: auto;
    position: absolute;
    left: 184px;
    top: 76px;" src="~/assets/img/robot.png" />
                            <button type="submit" class="highlight-button ms-auto" style="padding-right:60px" onclick="gotoDanhMucTuvan()"> Danh mục tư vấn</button>

                        </div>
                        <div class="col-12 col-md-6">


                            <article id="app">

                                <div class="frame-base animate a_02">
                                    <div class="clearfix"></div>
                                </div>


                                <ul class="info-list" v-if="stocks && stocks.length > 0">
                                    <li class="animate a_03" v-for="(item, index) in stocks.slice(0, 5)" :key="item.Id">
                                        <span class="info-left">
                                            @* <img src="~/assets/img/medal (1).png" style="width: 26px;height: auto; margin-top: 8px;" /> *@

                                            <img v-if="index === 0"
                                                 src="~/assets/img/medal (1).png"
                                                 style="width: 26px; height: auto; margin-top: 8px;" />
                                            <img v-if="index === 1"
                                                 src="~/assets/img/medal (2).png"
                                                 style="width: 26px; height: auto; margin-top: 8px;" />
                                            <img v-if="index === 2"
                                                 src="~/assets/img/medal (3).png"
                                                 style="width: 26px; height: auto; margin-top: 8px;" />
                                           

                                            <span> <a :href="`/chi-tiet-co-phieu/${item.Symbol}`" class="text-decoration-none fw-semibold" style="color:#fff">{{ item.Symbol }}</a></span>
                                        </span>
                                        <span class="info-right">{{ item.Heso_Text }}</span>
                                    </li>


                                  
                                </ul>

                            </article>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>







</section><!-- /Hero Section -->
<!-- About Section -->
<section class="about section">

    <div class="container">

        <div class="row gy-5">

            <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
                <h5 style="    border-bottom: 2px solid #e9430f;color: #e9430f; font-weight: bold">
                    Tin tức mới nhất
                </h5>
                @if (list != null && list.Count > 0)
                {
                    @foreach (var item in list)
                    {
                        <div class="item_news" style="padding:7px 10px;">

                            <div class="newtomtat" style="padding-left: 0 !important">

                                <div class="title_news">
                                    <a href="/chi-tiet/@item.Id" target="_blank" style="display: -webkit-box;
                                                          -webkit-line-clamp: 2;       /* 👈 Giới hạn 3 dòng */
                                                          -webkit-box-orient: vertical;
                                                          overflow: hidden;
                                                          text-overflow: ellipsis;

                                                          line-height: 1.4;
                                                          max-height: calc(1.4em * 2); /* Giới hạn chiều cao 3 dòng */">

                                        @if ((DateTime.Now.Date - item.Create_Date?.Date)?.Days <= 3)
                                        {

                                            <div class="new-badge">
                                                <!-- SVG ngôi sao nhiều cánh với gradient đỏ-vàng -->
                                                <svg class="star" viewBox="0 0 64 64">
                                                    <defs>
                                                        <radialGradient id="grad" cx="50%" cy="50%" r="50%">
                                                            <stop offset="0%" stop-color="#FFD700" /> <!-- Vàng -->
                                                            <stop offset="100%" stop-color="#FF4500" /> <!-- Đỏ cam -->
                                                        </radialGradient>
                                                    </defs>
                                                    <path d="M32 0 L36 20 L52 12 L44 28 L64 32 L44 36 L52 52 L36 44 L32 64
                                       L28 44 L12 52 L20 36 L0 32 L20 28 L12 12 L28 20 Z" />
                                                </svg>
                                                NEW
                                            </div>
                                        }



                                        @(item.Title ?? "")
                                    </a>
                                </div>
                                <div class="date_new" style="">
                                    @item.CreateDate
                                </div>
                            </div>

                        </div>




                    }
                }
                else
                {

                }


            </div>

            <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">

                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-briefcase"></i>
                        <h4><a href="/danh-sach-tin/2" class="stretched-link">Xu hướng thị trường</a></h4>
                        <p>Phân tích diễn biến và xu hướng thị trường qua số liệu thực tế – hỗ trợ xây dựng chiến lược đầu tư hiệu quả</p>
                    </div><!-- Icon-Box -->

                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-gem"></i>
                        <h4><a href="/danh-sach-tin/3" class="stretched-link">Xu hướng ngành</a></h4>
                        <p>Phân tích các xu hướng phát triển nổi bật trong từng ngành – nền tảng quan trọng để đánh giá cơ hội đầu tư và định vị chiến lược dài hạn</p>
                    </div><!-- Icon-Box -->

                    <div class="col-md-6 icon-box position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a href="/danh-sach-tin/4" class="stretched-link">Cổ phiếu dẫn dắt</a></h4>
                        <p>Danh mục các cổ phiếu dẫn dắt thị trường, đại diện cho các ngành tăng trưởng mạnh và thu hút dòng tiền lớn</p>
                    </div><!-- Icon-Box -->



                </div>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Báo cáo phân tích</h2>
        @* <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> *@
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-activity icon"></i></div>
                    <h4><a href="/danh-sach-bao-cao-art/6" class="stretched-link">Báo cáo Fin Art</a></h4>
                    <p>Tổng hợp các báo cáo phân tích chuyên sâu được thực hiện bởi Fin Art – giúp bạn nắm bắt thông tin thị trường một cách toàn diện</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                    <h4><a href="/danh-sach-bao-cao-art/7" class="stretched-link">Báo cáo công ty Chứng khoán</a></h4>
                    <p>Tổng hợp các báo cáo phân tích, nhận định và khuyến nghị từ các công ty chứng khoán</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                    <h4><a href="/danh-sach-bao-cao-art/8" class="stretched-link">Báo cáo ngành</a></h4>
                    <p>Phân tích toàn cảnh ngành với số liệu, xu hướng và đánh giá chuyên sâu, giúp bạn hiểu rõ bối cảnh và tiềm năng phát triển</p>
                </div>
            </div><!-- End Service Item -->
            @*  <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                            <h4><a href="service-details.html" class="stretched-link">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div> *@
            <!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->
<!-- Stats Section -->
<!-- Call To Action Section -->
<section id="about" class="call-to-action section accent-background">

    <img src="~/assets/img/cta-bg.jpg" alt="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>Về chúng tôi</h3>
                    <p>Chúng tôi là đội ngũ chuyên gia giàu kinh nghiệm trong lĩnh vực chứng khoán, cam kết mang đến những giải pháp hiệu quả, chất lượng và bền vững cho khách hàng. Sứ mệnh của chúng tôi là tạo ra giá trị thực và đồng hành cùng sự phát triển của bạn.</p>
                    <a class="cta-btn" target="_blank" href="/ve-chung-toi">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

</section><!-- /Call To Action Section -->
<!-- Portfolio Section -->

<script>
    function gotoDanhMuc(){
       window.location = '/co-phieu-tu-van';
    }

     function gotoDanhMucTuvan(){
      window.open('/danh-muc-tu-van', '_blank');
    }
   

    const heroCarousel = new bootstrap.Carousel('#heroCarousel', {
      interval: 10000,
      ride: 'carousel'
    });
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp, ref, onMounted } = Vue




    createApp({
      setup() {
        const stocks = ref([

        ])


        function sendPost() {

            axios.get('/Home/GetStocks')
            .then(function (response) {
              console.log('Gửi thành công:', response.data)
              stocks.value = response.data
            })
            .catch(function (error) {
              console.error('Lỗi khi gọi API:', error)
            })
        }


       onMounted(() => {
            sendPost() // gọi lần đầu
            setInterval(sendPost, 5000) // gọi lại mỗi 60 giây
       })


      

        return { stocks }
      }
    }).mount('#app')
</script>