@using WebForm.Common
@using WebForm.Helpers
@model WebForm.Models.IndexPortal

@{
    var lstNews = Model.LstNews;
    var lstProject = Model.LstProject;

    List<News> list = DataMemory.c_lstNew.Where(x => x.CategoryType == "1").OrderByDescending(i => i.Id).Take(6).ToList();
}

<style>
    .hero-section {
        position: relative;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .hero-bg .carousel-inner {
            height: 100%;
        }

        .hero-bg .carousel-item {
            height: 100%;
            background-size: cover;
            background-position: center;
        }

    .hero-content {
        position: relative;
        z-index: 2;
        height: calc(100% + 50px);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        pointer-events: none;
    }

        .hero-content h1 {
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
        }

        .hero-content p {
            max-width: 600px;
            margin-top: 15px;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        }

    .search-box {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        pointer-events: auto;
    }

        .search-box input {
            padding: 8px 12px;
            border: none;
            border-radius: 5px 0 0 5px;
            width: 250px;
        }

        .search-box button {
            padding: 8px 15px;
            border: none;
            background-color: #267d36;
            color: white;
            border-radius: 0 5px 5px 0;
        }

    .tag-buttons {
        margin: 30px auto;
        text-align: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        z-index: 3;
    }

    #highlight article {
        /*  padding: 30px;
                    border: 2px solid #fff;
                    margin: 20px 0;
                    border-radius: 15px;
                    position: relative;
                    background: #ffffff2e; */
    }

        #highlight article h2 img {
            width: 26px;
        }

    #highlight .text_a img {
        width: 18px;
        height: 18px;
    }

    .frame-base img {
        float: right;
        width: 160px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .only-img {
        float: left !important;
        width: 200px !important;
        background: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
    }



    #highlight article h2 {
        font-size: 48px;
        line-height: 1.1;
        letter-spacing: -1px;
        color: var(--cyan);
    }

    .a_01 {
        animation-delay: 0.1s;
    }

    .animate {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
    }




    .row {
        display: flex;
        gap: 6rem; /* khoảng cách giữa các ô */
        margin: 0; /* nếu bạn cần reset margin */
    }


    .row0 {
        display: flex;
        gap: 0rem; /* khoảng cách giữa các ô */
        margin: 0; /* nếu bạn cần reset margin */
    }

    .col {
        flex: 1; /* mỗi cột chiếm phần bằng nhau */
        /* background-color: #f2f2f2;  */
        padding: 1.5rem;
        text-align: center;
        box-sizing: border-box;
    }

        .col:nth-child(3n-2) {
            padding-left: 0;
        }

        /* Xóa padding bên phải của cột 3 (trong mỗi hàng 3 cột) */
        .col:nth-child(3n) {
            padding-right: 0;
        }

</style>
@* <link href="~/assets/css/layout.min.css" rel="stylesheet" />
 *@


<div id="highlight" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row" style="gap: 0rem;">
                    <div class="col-12 col-md-6">
                        <div class="box-rel animate a_02">
                            <img src="~/assets/img/robot.png" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <article>
                            <h2 class="animate a_01">
                                <img src="~/assets/img/arrow-up.png" /> Semi Gold
                            </h2>
                            <div class="frame-base animate a_02">
                                <img class="only-img" src="~/assets/img/shape-bg3.png" />
                                @* <img src="~/assets/img/mt5.png" /> *@
                                <div class="clearfix"></div>
                            </div> <ul id="app">
                                <li class="animate a_03 three-columns" v-for="(item, index) in stocks.slice(0, 5)" :key="item.Id">
                                    <span class="flex-item "><a :href="`/chi-tiet-co-phieu/${item.Symbol}`" class="text-decoration-none fw-semibold">{{ item.Symbol }}</a></span>
                                    <span class="flex-item">-</span>
                                    <span class="flex-item">{{ item.Heso_Text }}</span>
                                </li>






                            </ul>
                            <div class="text_a animate a_10">
                                <a class="btn-action bg-cyan" href="/danh-muc-tu-van">Xem chi tiết</a>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Hero Section -->
<!-- About Section -->

<section>
    <div id="offer" class="space_section">
        <div class="container container_padding">

            <hgroup class="title-group">
                <h6>
                    <img src="~/assets/img/arrow-up.png" />
                    Chỉ số Finart
                </h6>
                <h2>Khám phá thuật toán giao dịch của chúng tôi</h2>
            </hgroup>

            <div class="row">
                <div class="col nth-article">
                    <article class="card-article">
                        <p class="number"></p>
                        <div class="border-img">
                            <img src="~/assets/img/icon-01.png" />
                        </div>
                        <h3>
                            <a href="/danh-sach-tin/2">Xu hướng thị trường</a>
                        </h3>
                        <p> Phân tích diễn biến và xu hướng thị trường qua số liệu thực tế – hỗ trợ xây dựng chiến lược đầu tư hiệu quả </p>
                    </article>
                </div>
                <div class="col nth-article">
                    <article class="card-article">
                        <p class="number"></p>
                        <div class="border-img">
                            <img src="~/assets/img/icon-01.png" />
                        </div> <h3>

                            <a href="/danh-sach-tin/3"> Xu hướng ngành</a>
                        </h3> <p> Phân tích các xu hướng phát triển nổi bật trong từng ngành – nền tảng quan trọng để đánh giá cơ hội đầu tư và định vị chiến lược dài hạn </p>
                    </article>
                </div>
                <div class="col nth-article">
                    <article class="card-article">
                        <p class="number"></p>
                        <div class="border-img">
                            <img src="~/assets/img/icon-01.png" />
                        </div>
                        <h3>

                            <a href="/danh-sach-tin/4">  Cổ phiếu dẫn dắt</a>
                        </h3>
                        <p> Danh mục các cổ phiếu dẫn dắt thị trường, đại diện cho các ngành tăng trưởng mạnh và thu hút dòng tiền lớn </p>
                    </article>
                </div>

            </div>
        </div>
    </div>


</section>

<section>

    <div id="reason" class="space_section">
        <div class="container">
            <hgroup class="title-group">
                <h6><img src="~/assets/img/arrow-up.png" /> Báo cáo phân tích</h6>
                <h2>Đơn giản hóa sự lựa chọn của khách hàng</h2>
            </hgroup> <div id="reason" class="carousel slide" data-bs-ride="carousel">
                <div class="container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row0">
                                <div class="col-12 col-sm-6 col-md-4 d-flex">
                                    <article>
                                        <img src="~/assets/img/icon-13.png" />
                                        <h3>

                                            <a href="/danh-sach-bao-cao-art/6"> Báo cáo FinArt</a>

                                        </h3>
                                        <p> Tổng hợp các báo cáo phân tích chuyên sâu được thực hiện bởi FinArt – giúp bạn nắm bắt thông tin thị trường một cách toàn diện</p>
                                    </article>
                                </div> <div class="col-12 col-sm-6 col-md-4 d-flex">
                                    <article>
                                        <img src="~/assets/img/icon-14.png" />
                                        <h3>

                                            <a href="/danh-sach-bao-cao-art/7">    Báo cáo CTCK</a>
                                        </h3>
                                        <p> Tổng hợp các báo cáo phân tích, nhận định và khuyến nghị từ các công ty chứng khoán</p>
                                    </article>
                                </div> <div class="col-12 col-sm-6 col-md-4 d-flex">
                                    <article>
                                        <img src="~/assets/img/icon-15.png" />
                                        <h3>
                                            <a href="/danh-sach-bao-cao-art/8">
                                                Báo cáo ngành
                                            </a>
                                        </h3>
                                        <p> Phân tích toàn cảnh ngành với số liệu, xu hướng và đánh giá chuyên sâu, giúp bạn hiểu rõ bối cảnh và tiềm năng phát triển </p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>



<section>

    <div id="trading" class="space_section">
        <div class="container">
            <hgroup class="title-group">
                <h6><img src="~/assets/img/arrow-up.png" /> Tham gia FinArt</h6>
                <h2>Bắt đầu cuộc hành trình</h2>
                <h5>
                    <a href="javascript:;" target="_blank">
                        <img src="~/assets/img/icon-play.png" /> Tham gia
                    </a>
                </h5>
                <img class="abs-fix" src="~/assets/img/shape-4.png" />
            </hgroup>
            <div class="box-plan">
                <article>
                    <img src="~/assets/img/vector1.png" />
                    <h6 class="price"></h6> <p> Speed up your trading journey - let our automated trading system do the work for you. </p>
                    <div class="text_a">
                        <a target="_blank" rel="dofollow" href="javascript:;" class="btn-action">
                            <img src="~/assets/img/icon-start.png" />
                            Start Now
                        </a>
                    </div>
                </article> <ul class="list-grid">
                    <li>Phần mềm FinArt <span>Bot tín hiệu</span></li>
                    <li>Khuyến nghị<span>Rõ ràng, minh bạch</span></li>
                    <li>Mở tài khoàn <span>10 phút thực hiện</span></li>
                    <li>Hỗ trợ <span>15/7</span></li>
                    <li>khóa học và kiến thức <span>Chia sẻ miễn phí</span></li>
                    <li>Chiến lược<span>Linh hoạt, hiệu quả</span></li>
                    <li>Vốn<span>Nguồn vay lớn</span></li>
                    <li>Cộng đồng<span>Nhà đầu tư chuyên nghiệm</span></li>
                </ul>
            </div>
        </div>
    </div>

</section>

<div id="subscriber">
    <div class="container">
        <hgroup class="title-group">
            <h2>Become a part <span>of our update community</span></h2>
        </hgroup> <form id="subscribeForm" class="form-subscriber" method="POST" action="https://timetradingfx.com/subscribe">
            <input type="hidden" name="_token" value="bPjYx4U8g7Ifm0MeiMWAm6p2ZLwbCuCxYOwkdwx0" autocomplete="off">
            <input type="email" id="email" name="email_user" minlength="5" maxlength="35" class="form-control" placeholder="Enter your E-Mail" required="">
            <button type="submit" class="btn-action bg-cyan">Subscriber</button>
        </form>
    </div> <script type="text/javascript"> </script>
</div>

@if (list != null && list.Count > 0)
{
        <section class="highlight-posts-wrap mb-15 ">
            <div class="container" style="padding: 20px 20px 4px;">

                <hgroup class="title-group">
                    <h6><img src="~/assets/img/arrow-up.png" /> TIN NỔI BẬT</h6>
                    <h2>Tin tức mới nhất của thị trường chứng khoán</h2>
                </hgroup>

                <div class="section-content row0" style="margin-left: -14px; margin-right: -14px;">
                    <div class="carousel-wrap" style="">
                        <div class="carousel-wrap-inner">
                            <div class="carousel-highlight-post px-15 row r0">

                            @foreach (var item in list)
                            {
                                            <div class="col-lg-4 col-md-6" style="padding-left: 14px; padding-right: 14px;">
                                                <a href="/chi-tiet/@item.Id" class="span-like post-card clickable highlight-post">
                                        @if (item.FeatureImage != null && item.FeatureImage != "")
                                        {
                                                                <div class="post-image">
                                                                    <img loading="lazy" class="logo-cover" src="@item.FeatureImage" alt="" onerror="this.src='/assets/img/bg_01.jpg';">
                                                                </div>

                                        }
                                        else
                                        {
                                                                <div class="post-image">
                                                                    <img loading="lazy" class="logo-cover" src="/assets/img/bg_01.jpg" alt="">
                                                                </div>

                                        }

                                                    <div class="post-content">
                                                        <div class="posted-at-wrap">
                                                @if (item.CreateDate != null)
                                                {
                                                                        <div class="posted-at">@item.CreateDate</div>
                                                }


                                                        </div>
                                            @if (item.Title != null)
                                            {
                                                                    <div class="post-title">@item.Title</div>
                                            }

                                            @if (item.Description != null)
                                            {
                                                                    <div class="post-description">@item.Description</div>
                                            }

                                                        <div class="reactions-wrap d-flex align-items-center" style="height: 20px;">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                            }

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>

}


@* --- bỏ *@


<script>
    function gotoDanhMuc(){
       window.location = '/co-phieu-tu-van';
    }

     function gotoDanhMucTuvan(){
      window.open('/danh-muc-tu-van', '_blank');
    }


    const heroCarousel = new bootstrap.Carousel('#heroCarousel', {
      interval: 10000,
      ride: 'carousel'
    });
</script>


<script src="~/assets/js/vue.global.js"></script>

<script>
    const { createApp, ref, onMounted } = Vue




    createApp({
      setup() {
        const stocks = ref([

        ])


        function sendPost() {

            axios.get('/Home/GetStocks')
            .then(function (response) {
              console.log('Gửi thành công:', response.data)
              stocks.value = response.data
            })
            .catch(function (error) {
              console.error('Lỗi khi gọi API:', error)
            })
        }


       onMounted(() => {
            sendPost() // gọi lần đầu
            setInterval(sendPost, 5000) // gọi lại mỗi 60 giây
       })




        return { stocks }
      }
    }).mount('#app')
</script>