@using WebForm.Common
@model WebForm.Models.ListSymbol
@using WebForm.Models;

@{
    ViewBag.Title = "Danh sách cổ phiếu";
    Layout = "_Layout_Admin";
    List<Allcode_Info> typeNewsSearch = DataMemory.GetAllcodeByName("SYMBOL", "STATUS");
}
<style>
    .div-search-text {
        width: 220px;
    }

    .form-inline-search {
        display: flex;
        gap: 25px; /* khoảng cách giữa các div */
    }

    .btn-search {
        margin-top: auto;
        padding: 6px 20px;
        color: #fff;
        background: #009688;
    }
</style>
<input type="hidden" id="txtRecordOnPage" value="@ConfigInfo.RecordOnPage" />
<div class="container-fluid div-search">
    <div class="form-inline-search">

        <div class="div-search-text">
            <label>Từ khóa</label>
            <input id="txtSearch" type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" />
        </div>
       

        <input type="button" value="Tìm kiếm" id="btnSearchNews" class="btn btn-search" onclick="page(1);" />

        <input type="button" value="Tạo cổ phiếu" id="btnCreateNews" class="btn  btn-search" onclick="return  window.location.href='/Symbol/Create'" />


    </div>

</div>
<div id="data_news" class="container-fluid dataTables_wrapper container-fluid">
    @Html.Partial("~/Areas/Admin/Views/Symbol/_listNews.cshtml", Model)
</div>
<script>

    $(document).ready(function() {
        $("#txtSearch").keypress(function (e) {
            if(e.which === 13) {
                page(1);
            }
        });
    });
    function page(index) {
        try {
            var recordOnPage = $('#txtRecordOnPage').val();
            var totalPage = $('#txtTotalPage').val();
            var Code = $('#txtSearch').val();
            
            var start = 1;
            var end = recordOnPage;
            if (index === 'next') {
                index = totalPage;
            } else if (index === 'prew') {
                index = 1;
            }
            if (index > 1) {
                end = index * recordOnPage;
                start = end - recordOnPage + 1;
            }

            alert(index + "  " + start + "   " + end + "   " +Code)

            var request = {
                currentPage: index,
                start: start,
                end: end,
                Code: Code
            };

            axios.post("/Symbol/Search", request).then(function (response) {
                $('#data_news').html(response.data);
            }).catch(error => {

            });
        } catch (e) {
            console.log();
        }
    }

    function deleteNews(id) {
        swal({
            title: "Bạn chắc chắn?",
            text: "Bạn sẽ xóa cổ phiếu này. Sẽ không thể khôi phục được",
            icon: "warning",
            buttons: [
                'Không!',
                'Có!'
            ],
            dangerMode: true
        }).then(function (isConfirm) {
            var request = {
                id: id
            };

            if (isConfirm) {
                axios.post("/Symbol/Delete", request).then(function (response) {
                    var data = response.data;
                    if (data.Status) {
                        swal({
                            title: "Thành công",
                            text: "Xóa cổ phiếu thành công",
                            icon: "success",
                            buttons: true
                        }).then((value) => {
                            page(1);
                        });
                    } else {
                        swal({
                            title: "Lỗi",
                            text: "Vui lòng thử lại vào lúc khác",
                            icon: "warning",
                            buttons: true
                        });
                    }
                }).catch(error => {

                });
            }
        });
    }
</script>
